body {
  height: 100vh;
  width: 60%;
  margin: auto;
  background-color: #e6ebf1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

section {
  width: 30%;
  height: 70%;
  background-color: white;
  box-shadow: 6px 7px 13px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 6px 7px 13px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 7px 13px -8px rgba(0, 0, 0, 0.75);
}

.content {
  margin: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

h2,
span,
.blue-text {
  color: #25b0eb;
}

h2 {
  margin-top: 30px;
  font-size: 0.9em;
  font-weight: bold;
}

p {
  color: gray;
  margin: 5px 0;
  font-size: 0.9em;
}

.price {
  display: flex;
}

.price span {
  margin: 10px;
  font-size: 30px;
}

.number {
  font-weight: bold;
  font-size: 60px;
  color: #25b0eb;
}

.blue-text {
  margin-top: 0;
  margin-bottom: 20px;
}

button {
  width: 120px;
  padding: 10px 20px;
  background-color: lightgray;
  color: white;
  border: none;
  box-shadow: 6px 7px 13px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 6px 7px 13px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 7px 13px -8px rgba(0, 0, 0, 0.75);
}

.button-yellow {
  background-color: #ffcf2d;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 150px;
  font-size: 1rem;
}

.popular {
  background-color: #25b0eb;
  color: white;
  font-weight: bold;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.margin-zero {
  margin: 0;
  height: 100%;
}

.info {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.middle {
  width: 35%;
  height: 85%;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 20px;
}
