* {
  margin: 0;
}

body {
  padding: 16px;
}

.images-container {
  margin: 0 auto;

  display: grid;
  justify-items: center;
  gap: 15px;
}

img {
  background-color: lightgray;
  width: 100%;
  max-width: 360px;
}

@media screen and (min-width: 34.5em) {
  .images-container {
    grid-template-columns: 1fr 1fr;
    max-width: 730px;
  }
}

@media screen and (min-width: 54.5em) {
  .images-container {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1110px;
  }
}
