* {
  margin: 0;
}

body {
  padding: 20px;
  width: 100vw;
  height: 100%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 15px;
}

img {
  width: 100%;
  height: 100%;
  background-color: lightgray;
}

img[data-src] {
  filter: blur(0.2em);
}

img {
  filter: blur(0em);
  transition: filter 0.5s;
}

#one {
  grid-column: 1 / 2;
  grid-row: 1 /3;
}

#two {
  grid-column: 2 / 3;
  grid-row: 1 /2;
}

#three {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

#four {
  grid-column: 2 / 3;
  grid-row: 2 /3;
}

#five {
  grid-column: 3 / 4;
  grid-row: 2 /4;
}

#six {
  grid-column: 3 / 4;
  grid-row: 4/5;
}

#seven {
  grid-column: 1/3;
  grid-row: 3/5;
}

#eight {
  grid-column: 2 / 4;
  grid-row: 5/7;
}

#nine {
  grid-column: 1 / 2;
  grid-row: 5/6;
}

#ten {
  grid-column: 1/2;
  grid-row: 6/7;
}

@media screen and (max-width: 768px) {
  body {
    grid-template-columns: 1fr 1fr;
    width: calc(100% - 40px);
    grid-gap: 10px;
  }

  #one,
  #three,
  #five,
  #seven,
  #nine {
    grid-column: 1/2;
    grid-row: unset;
  }

  #two,
  #four,
  #six,
  #eight,
  #ten {
    grid-column: 2/3;
    grid-row: unset;
  }
}
