@media only screen and (min-width: 34.5em) {
  header,
  main h1 {
    padding: 20px 30px;
  }

  nav {
    max-width: 100%;

    display: flex;
    justify-content: center;
  }

  #navigation {
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 20px;
  }

  #navigation li {
    display: block;
  }

  #navigation a {
    text-align: center;
    transition: all 0.2s ease-in-out;
    border-bottom: 5px solid transparent;
  }

  #navigation li:first-child {
    display: none;
  }

  #navigation a:hover,
  #navigation a.active:hover,
  #navigation a.active {
    border-bottom: 5px solid #b50057;
    color: white;
  }

  .images-container {
    grid-template-columns: 1fr 1fr;
    max-width: 740px;
    margin: 0 auto;
    padding: 30px;
  }
}
