* {
  margin: 0;
  font-family: sans-serif;
}

body {
  margin-top: 100px;
}

table {
  width: 400px;
  margin: 0 auto;
  border-collapse: collapse;

  box-shadow: 0px 13px 31px rgba(12, 20, 33, 0.04),
    0px 9.45547px 20.8947px rgba(12, 20, 33, 0.032375),
    0px 6.58125px 13.5141px rgba(12, 20, 33, 0.027),
    0px 4.31641px 8.38574px rgba(12, 20, 33, 0.023125),
    0px 2.6px 5.0375px rgba(12, 20, 33, 0.02),
    0px 1.37109px 2.99707px rgba(12, 20, 33, 0.016875),
    0px 0.56875px 1.79219px rgba(12, 20, 33, 0.013), inset 0px 2px 1px #ffffff;
}

thead tr th {
  width: 100%;
  background-color: #7fb9c2;
  font-size: 2.3em;
}

th,
td {
  padding: 10px;
  border: 1px solid lightgray;
}

tbody > tr > th {
  background-color: #628ca6;
  color: white;
  font-size: 1.2em;
}

tbody > tr:nth-child(even) {
  background-color: #e7f0ed;
}

tbody > tr:nth-child(odd) {
  background-color: #e7ffed;
}

tbody > tr:nth-child(5) > td:nth-child(3) {
  background-color: #628ca6;
  color: white;
}

tbody > tr:nth-child(6) > td:nth-child(1) {
  font-style: italic;
}

thead,
tbody {
  display: table;
  width: 100%;
}

tfoot {
  background-color: #7fb9c2;
}
td {
  text-align: center;
}
