@media screen and (min-width: 550px) {
  .hero {
    height: 300px;

    grid-template-columns: 40px 1fr 40px;
    grid-template-rows: 40px 1fr 40px;
  }

  .hero span {
    width: 70%;
    font-size: 2rem;
  }

  .buttons-hero a {
    padding: 20px;
    font-size: 1.3rem;
    transition: all 0.2s ease-in-out;
  }

  .buttons-hero a:nth-child(2) {
    display: flex;
    margin-left: 15px;
    background-color: transparent;
    border: 3px solid var(--tyffany);
  }

  .buttons-hero a:nth-child(1):hover {
    border: 3px solid var(--tyffany);
    background: transparent;
  }

  .buttons-hero a:nth-child(2):hover {
    border: 3px solid var(--cyan);
    background: var(--cyan);
  }

  .info-container h1 {
    display: block;
  }

  .links-container,
  .logo-icons {
    padding: 0 40px 40px;
  }

  .logo-footer,
  .icons-footer {
    padding: 0;
  }

  .icons-footer {
    width: 200px;
  }

  .icons-footer img {
    width: 40px;
    height: 40px;
  }

  .logo-icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
