* {
  margin: 0;
}

h1,
h2,
li {
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #f1f2f8;
  height: 100vh;
}

body::-webkit-scrollbar {
  display: none;
}

nav {
  margin: 0 auto 20px;
  background-color: #206a5d;
}

#navigation {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
}

#navigation li:first-child {
  display: block;
}

#navigation li {
  display: none;
}

#navigation a {
  color: white;
  display: block;
  padding: 15px 20px;
  text-align: left;
  text-decoration: none;
  font-weight: 700;
  border-bottom: 5px solid transparent;
  transition: all 0.2s ease-in-out;
}

#navigation a.active {
  color: #cea354;
}

#navigation.responsive li {
  display: block;
}

.ham {
  font-size: 1.5em;
}

h1 {
  padding-left: 20px;
  margin-bottom: 30px;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.box-container {
  min-width: 280px;
  width: 70%;
  margin-bottom: 20px;
  background: #f9f9fa;
  border-radius: 30px;

  box-shadow: 0px 13px 31px rgba(12, 20, 33, 0.04),
    0px 9.45547px 20.8947px rgba(12, 20, 33, 0.032375),
    0px 6.58125px 13.5141px rgba(12, 20, 33, 0.027),
    0px 4.31641px 8.38574px rgba(12, 20, 33, 0.023125),
    0px 2.6px 5.0375px rgba(12, 20, 33, 0.02),
    0px 1.37109px 2.99707px rgba(12, 20, 33, 0.016875),
    0px 0.56875px 1.79219px rgba(12, 20, 33, 0.013), inset 0px 2px 1px #ffffff;
}

.info-container {
  margin: 24px;

  display: flex;
  justify-content: space-between;
}

#pewter {
  background-color: #00adb5;
}

#gray {
  background-color: #eeeeee;
}

#coral {
  background-color: #b50057;
}

#white {
  background-color: #fff;
}

#blue {
  background-color: #222831;
}

#black {
  background-color: #2b2828;
}

.color {
  flex: 0.5;
  width: 50%;
  height: 80px;
  border-radius: 14px;
}

.info {
  flex: 0.4;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info h2 {
  font-size: 18.5px;
}

@media only screen and (min-width: 34.5em) {
  nav {
    max-width: 100%;

    display: flex;
    justify-content: center;
  }

  #navigation {
    grid-template-columns: repeat(5, 1fr);
  }

  #navigation li {
    display: block;
  }

  #navigation a {
    text-align: center;
  }

  #navigation a:hover,
  #navigation a.active:hover,
  #navigation a.active {
    border-bottom: 5px solid #cea354;
    color: white;
  }

  #navigation li:first-child {
    display: none;
  }

  main {
    padding: 20px;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 40px;
    max-width: 715px;
    margin: 0 auto;
  }

  .box-container {
    min-width: 240px;
    width: 80%;
    margin-bottom: 0;
    height: 200px;
  }

  .info-container {
    height: 100%;
    margin: 0;
    flex-direction: column;
  }

  .color {
    width: 100%;
    border-radius: 25px 25px 0 0;
    flex: 0.8;
  }

  .info {
    flex: 0.4;
    justify-content: space-evenly;
    padding: 10px 30px;
  }
}

@media only screen and (min-width: 54.5em) {
  #navigation {
    width: 800px;
  }

  h1 {
    margin: 0 auto 30px;
    padding: 0;
    text-align: start;
  }

  h1,
  section {
    width: 689px;
  }
}
