@media only screen and (min-width: 34.5em) {
  nav {
    max-width: 100%;

    display: flex;
    justify-content: center;
  }

  #navigation {
    grid-template-columns: repeat(5, 1fr);
  }

  #navigation li {
    display: block;
  }

  #navigation a {
    text-align: center;
  }

  #navigation a:hover,
  #navigation a.active:hover,
  #navigation a.active {
    border-bottom: 5px solid #cea354;
    color: white;
  }

  #navigation li:first-child {
    display: none;
  }

  section {
    grid-template-columns: 1fr 1fr;
  }

  .purpose p {
    max-width: 400px;
  }
}
