* {
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #f1f2f8;
}

h1,
h2,
li {
  font-family: "Open Sans", sans-serif;
}

nav {
  margin: 0 auto 20px;
  background-color: #206a5d;
}

#navigation {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
}

#navigation li:first-child {
  display: block;
}

#navigation li {
  display: none;
}

#navigation a {
  color: white;
  display: block;
  padding: 15px 20px;
  text-align: left;
  text-decoration: none;
  font-weight: 700;
  border-bottom: 5px solid transparent;
  transition: all 0.2s ease-in-out;
}

#navigation a.active {
  color: #cea354;
}

#navigation.responsive li {
  display: block;
}

.ham {
  font-size: 1.5em;
}

h1 {
  padding: 0 20px;
}

main {
  width: 100%;

  display: flex;
  justify-content: center;
}

section {
  margin: 20px 0;
  padding: 10px 20px;
  width: 95%;

  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px;
}

section p {
  line-height: 135%;
}

.info-container h2 {
  margin-bottom: 10px;
  letter-spacing: 1px;
}
