@media only screen and (min-width: 54.5em) {
  header,
  main h1,
  .footer-container {
    margin: 0 auto;
    width: 770px;
  }

  main {
    padding: 0;
  }

  main h1 {
    width: 800px;
  }

  #navigation,
  .footer-container {
    width: 800px;
  }

  .images-container {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
  }

  .image-card {
    transition: all 0.2s ease-in-out;
    width: 100%;
  }

  .image-card:hover {
    box-shadow: 0px 13px 31px rgba(12, 20, 33, 0.04),
      0px 9.45547px 20.8947px rgba(12, 20, 33, 0.032375),
      0px 6.58125px 13.5141px rgba(12, 20, 33, 0.027),
      0px 4.31641px 8.38574px rgba(12, 20, 33, 0.023125),
      0px 2.6px 5.0375px rgba(12, 20, 33, 0.02),
      0px 1.37109px 2.99707px rgba(12, 20, 33, 0.016875),
      0px 0.56875px 1.79219px rgba(12, 20, 33, 0.013), inset 0px 2px 1px #ffffff;
  }

  .footer-container iframe {
    flex: 0.6;
  }

  .contact-container {
    flex: 0.3;
  }
}
