@media only screen and (min-width: 34.5em) {
  header,
  main h1 {
    padding: 30px;
  }

  nav {
    max-width: 100%;

    display: flex;
    justify-content: center;
  }

  #navigation {
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 20px;
  }

  #navigation li {
    display: block;
  }

  #navigation a {
    text-align: center;
    transition: all 0.2s ease-in-out;
    border-bottom: 5px solid transparent;
    font-size: 16px;
  }

  #navigation li:first-child {
    display: none;
  }

  #navigation a:hover,
  #navigation a.active:hover,
  #navigation a.active {
    border-bottom: 5px solid #b50057;
    color: white;
  }

  .images-container {
    grid-template-columns: 1fr 1fr;
    max-width: 740px;
    margin: 0 auto;
    padding: 0 30px 30px;
  }

  .article-container,
  .footer-container {
    padding: 20px;
  }

  .footer-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .footer-container iframe {
    flex: 0.5;
  }

  .contact-container {
    flex: 0.4;
  }

  .contact {
    display: flex;
  }

  .contact img {
    flex: 0.15;
  }

  #address {
    display: block;
    display: flex;
  }

  .social-icons {
    width: 50%;
    margin: 25px 0;
    font-size: 1.3rem;

    display: flex;
    justify-content: space-around;
  }

  .social-icons img {
    width: 21px;
  }
}
