:root {
  --white: #ffffff;
  --gray: #eeeeee;
  --dark-blue: #222831;
  --blue: #00adb5;
  --violet: #b50057;
  --font-heading: "Lato", sans-serif;
  --font-body: "Montserrat", sans-serif;
}

* {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: var(--font-heading);
  color: var(--dark-blue);
}

p,
span,
li {
  font-family: var(--font-body);
  color: var(--dark-blue);
}

h2 {
  margin-bottom: 10px;
}

p {
  line-height: 140%;
}

.banner {
  font-size: 14px;
  padding: 10px 15px;
  background-color: var(--violet);

  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

.banner img {
  filter: brightness(0) invert(1);
  width: 32px;
  height: 100%;
  margin-left: 10px;
}

.banner p {
  color: white;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
}

header img {
  width: 64px;
  height: 64px;
  margin-right: 20px;
}

.site p {
  font-family: var(--font-heading);
  font-weight: bold;
  font-size: 1.3rem;
}

nav {
  padding: 0 17px;
  background-color: var(--blue);
}

#navigation li {
  display: none;
  font-size: 1.2rem;
}

#navigation li:first-child {
  display: block;
}

#navigation {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
}

#navigation a {
  padding: 15px 0;
  color: var(--white);
  display: block;
  text-decoration: none;
  font-weight: 700;
}

#navigation a.active {
  color: var(--violet);
}

#navigation.responsive li {
  display: block;
}

.ham img {
  width: 25px;
  height: 29px;
  object-fit: cover;
  filter: brightness(0) invert(1);
}

.ham img:hover {
  cursor: pointer;
}

main {
  padding: 20px 0 0;
}

main h1 {
  margin-top: 0;
  padding-left: 15px;
}

.images-container {
  padding: 15px;

  display: grid;
  gap: 15px;
}

.image-card {
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
}

.image-card img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  max-width: 360px;
  height: 260px;

  object-fit: cover;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 10px -1px;
}

.image-card h3 {
  padding: 20px;
  opacity: 0.9;
}

footer {
  background-color: var(--gray);
}

.footer-container {
  padding: 15px;
}

.footer-container iframe {
  width: 100%;
  height: 150px;

  box-shadow: 0px 13px 31px rgb(12 20 33 / 4%),
    0px 9.45547px 20.8947px rgb(12 20 33 / 3%),
    0px 6.58125px 13.5141px rgb(12 20 33 / 3%),
    0px 4.31641px 8.38574px rgb(12 20 33 / 2%),
    0px 2.6px 5.0375px rgb(12 20 33 / 2%),
    0px 1.37109px 2.99707px rgb(12 20 33 / 2%),
    0px 0.56875px 1.79219px rgb(12 20 33 / 1%), inset 0px 2px 1px #ffffff;
}

.contact-info {
  margin: 15px 0;
}

#address {
  display: none;
}

.contact {
  display: flex;
  margin-bottom: 5px;
}

.contact img {
  width: 16px;
  height: 16px;
  flex: 0.1;
}

.contact p {
  flex: 1;
  font-size: 0.8rem;
}

.social-icons {
  display: none;
}

.date {
  display: flex;
  justify-content: center;
  padding: 0 0 20px;
  font-family: var(--font-body);
}
